.search_result_container {
  padding: 50px 0 20px;
  margin: 0 auto;
  max-width: 700px;

  @include respond-to-min($resp_step_2) {
    padding-top: 97px;
  }

}

.search_result_block {
  margin-bottom: -15px;

  > li {
    margin-bottom: 20px;
  }

  @include respond-to-min($resp_step_2) {
    margin-bottom: 20px;

    > li {
      margin-bottom: 7px;
    }
  }
}

.search_result_unit {
  @extend %clearfix;

  .project_img {
    margin-right: 30px;
  }

  p {
    height: 2.6em;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 12px;
    letter-spacing: -1px;
  }

  .project_r_category {
    font: 800 10px $CirceBold;
    padding-left: 19px;
    letter-spacing: .6px;
    text-transform: uppercase;
  }

  .project_r_category,
  .project_date {
    display: inline-block;
    vertical-align: middle;
  }

  @include respond-to-max($resp_step_2) {
    .project_img {
      display: none;
    }

    p {
      margin-bottom: 8px;
    }
  }

}




